html { 
  background: url(pictures/forest.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    background: none;
}

.container {
    text-align: center;
    margin-top: 350px;
    color:white;
    width: 450px
    
}

input {
    margin: 20px 0;
}

#submit{
    background-color: darkseagreen;
    color: black;
}
#weather{
    margin: 15px;
}